<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<div class="dashboard-page">
  <div class="container page">
    <div class="row">
      <div id="module_container"class="card col-md-3" md-card>
        <div id="account_info" class="card">
          <img src="http://placehold.it/150x100" style="border-radius: 4px" />
          <h2>{{user.name}}</h2>
        </div>
        <div id="upcoming_orders" class="container">
          <!-- <button md-button><h4>Upcoming Orders</h4></button> -->
          <h4>Upcoming Orders</h4>
          <div>
            <ul *ngFor="let f of future_orders; let i=index">
              <a *ngIf="i<3">{{f.order_number}} {{f.pickup_date}}</a>
            </ul>
            <ul>
              <a (click)="scheduleOrder()">Schedule Order</a>
            </ul>
          </div>
        </div>
        <div id="past_order" class="container">
          <h4>Past Orders</h4>
          <!-- <ul> -->
          <div *ngIf="past_orders.length > 0">
            <ul *ngFor="let p of past_orders; let i=index">
              <a *ngIf="i<3" (click)="retrieveOrder(p._id)">{{p.order_number}} {{p.pickup_date}}</a>
            </ul>
            <button md-button (click)="viewPastOrders()">View Past Orders</button>
          </div>
          <div *ngIf="past_orders.length == 0">
            <ul>
              No orders placed.
            </ul>
          </div>
          <!-- </ul> -->
        </div>
        <div id="shopping_lists" class="container">
          <h4>Shopping List</h4>
          <ul>
            <li>
              Sunday List
            </li>
            <li>
              Essentials
            </li>
            <a (click)="startNewList()">Create New List</a>
          </ul>
        </div>
      </div>
      <div id="recommended_items" class="card">
        <!-- This should be its own module -->
        <h1>Recommended Items</h1>
      </div>
      <div id="main_module" class="card container">
        <!-- TODO:  Switchable modules-->
        <!-- Default Recommended Items -->
        <div id="past_order_module" *ngIf="displayPastOrders">
          <h1>Past Orders</h1>
            <ul *ngFor="let p of past_orders">
              <button md-button (click)="retrieveOrder(p._id)">Order {{p.order_number}} {{p.pickup_date}}</button>
            </ul>
            <div class="container card">
              <div *ngIf="temp">
                {{temp.order_number}}
                <ul *ngFor="let oi of order_items">
                  {{oi.name}}
                </ul>
                {{temp.order_cost.toFixed(2)}}
              </div>
            </div>
        </div>
        <div id="upcoming_order_module" *ngIf="displayUpcomingOrders">
          <h1>Upcoming Orders</h1>
        </div>
        <div id="shopping_list_module" *ngIf="displayShoppingList">
          <!-- <h1>Shopping List</h1> -->
          <!-- We need to turn this into it's own component -->
          <shopping-list></shopping-list>
        </div>
        <div id="schedule_order_module" *ngIf="displayCreateScheduledOrder">
          <h1>Schedule Order</h1>
          <schedule-order></schedule-order>
        </div>
      </div>
      <!-- Quick Select buttons -->
      <div id="quick_shop" class="container">
        <div class="card btn" id="shopGrocery" [routerLink]="['/store']">
          <h3>Browse Grocery</h3>
          <ul class="quicklinks">
                <li><a>Pantry</a></li>
                <li><a>Dairy</a></li>
                <li><a>Beverages</a></li>
          </ul>
        </div>
        <div class="card btn" id="shopHome" [routerLink]="['/store']">
          <h3>Browse Home</h3>
          <ul class="quicklinks">
                <li><a>Bathroom</a></li>
                <li><a>Kitchen</a></li>
                <li><a>Cleaning</a></li>
          </ul>
        </div>
        <div class="card btn" id="shopHealth" [routerLink]="['/store']">
          <h3>Browse Health</h3>
          <ul class="quicklinks">
                <li><a>Beauty</a></li>
                <li><a>Medicine</a></li>
                <li><a>Nutrition</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
