.dashboard-page{
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #158cba;
  overflow: scroll;
}
.page{
  margin-top: 5%;
}

.card{
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#account_info{
  width: 25%;
}

#quick_shop{
  position: auto;
  margin-left: 32%;
  margin-bottom: 2%;
  overflow: hidden;
  margin-top: 40%;
}

#recommended.container {
  width: 750px;
  height: 350px;
  margin-top: 7%;
  margin-left: 30%;
  padding-bottom: 1%;
  position: absolute;
}

#module_container{
  margin-top: 7%;
  height: 375px;
  position: absolute;
}

.btn{
  width: 250px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  z-index: 0;
  overflow: hidden;
  position: relative;
  vertical-align: top;
}

.btn:hover {
  /*width: 24%;*/
  z-index: 100;
  padding-bottom: 55px;
  overflow: visible;
  box-shadow: 2px 4px 28px rgba(0,0,0,0.25), 0 15px 15px rgba(0,0,0,0.22);
}

.btn:hover .quicklinks{
  z-index: 100;
  visibility: visible;
}

.quicklinks {
  visibility: hidden;
  position: absolute;
  width: 100%;
}
