<html>
<link href="../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<body id="page">
  <div *ngIf="order_begun">
    <div class="card" id="order_card">
      <li *ngFor="let o of order" md-card>
          {{o.name}}
      </li>
      <button md-raised-button>Place Order</button>
    </div>
  </div>
  <div class="container" id="itemList">
    <ul>
      <li  class="container" *ngFor="let i of items" md-card>
        <div class="card">
          <h2>{{i.name}}</h2>
          <p>
            Cost: {{i.sales_price}} <br />
            Category: {{i.category}} <br />
          </p>
          <button md-fab (click)="addItemToOrder(i._id)"><md-icon>add circle</md-icon></button>
        </div>
      </li>
    </ul>
  </div>
</body>
</html>
