<html>
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body id="page">
  <div class="container card" id="user_modules">
    <div class="container" id="account_info">
      <a [routerLink]="['/dashboard']"><h4>{{user.name}}</h4></a>
      <p>
        Email: {{user.email}} <br />
        Username: {{user.username}}
      </p>
    </div>
    <div class="container" id="user_lists">
      <h4>Shopping Lists</h4>
    </div>
  </div>
  <div class="container" id="itemList">
    <ul>
      <li  class="container item-container" *ngFor="let i of items" md-card id="items">
        <div class="item_card">
          <h2>{{i.name}}</h2>
          <p>
            Cost: {{i.sales_price}} <br />
            Category: {{i.category}} <br />
          </p>
          <button md-fab class="add_item md-ink-ripple" (click)="addItemToOrder(i._id)">
            <md-icon class="ng-scope" md-svg-source="assets/icons/ic_add_black_24px.svg" role="img">
              add
              <svg height="100%" viewBox="0 0 24 24" width="100%" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
                <path d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path>
                <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
            </md-icon>
          </button>
        </div>
      </li>
    </ul>
  </div>
  <div class="container card" id="order">
    <div *ngIf="orderList.order_begun" id="order_card">
      <!-- Going to want to extract this into a different component -->
      <h4 style="text-align: center">Cart for {{orderList.order_date}}</h4>
      <ul class="order_list" *ngFor="let o of orderList.order_items" md-card>
          <button md-button>{{o.name}}</button><span class="quantity">{{o.quantity}}</span>
      </ul>

      <button md-raised-button class="place_order_button" (click)="orderList.onOrderSubmit()" [routerLink]="['/dashboard']">Place Order</button>
      <button *ngIf="scheduledOrder" md-raised-button class="schedule_later" (click)="scheduleLater()" [routerLink]="['/dashboard']">Schedule Later</button>
      <button *ngIf="!scheduledOrder" md-raised-button disabled class="schedule_later">Schedule Later</button>
      <span class="money">{{displayCost}}</span>
    </div>
    <div *ngIf="!orderList.order_begun" id="order_card">
      <h4 style="text-align: center">Cart for {{orderList.order_date}}</h4>
      <ul id="no_order_yet">Nothing ordered yet!</ul><br />
      <!-- <div > -->
      <button md-raised-button disabled class="schedule_later">Schedule Later</button>
      <!-- </div> -->
      <button md-raised-button disabled class="place_order_button">Place Order</button> <span class="money">0.00</span>
    </div>
  </div>
</body>
</html>
