<div class="container">
  <h1>Shopping List</h1>
  <div class="container">
    <!-- The actual shopping list part  -->
    <div *ngIf="items.length == 0">
      <p>No items in list.</p>
    </div>
    <div *ngIf="items.length != 0">
      <table *ngFor="let i of items">
        <td>
          {{i}}
        </td>
      </table>
    </div>
  </div>
  <div class="row">
    <flash-messages class="col-md-4"></flash-messages>
  </div>
  <form>
    <div class="form-group error">
        <input type="text" id="itemText" class="form-control" name="item_name" [(ngModel)]="item_name" required />
        <button class="btn btn-primary glypicon glyphicon-plus" (click)="getUserSelectedItem()"></button>
    </div>
  </form>
</div>
