flash-messages {
  position: inherit;
  width: 200px;
}

input{
  display: block;
  float: left;
  width: 150px;
}

.item:hover{
  background-color: gray;
  color: white;
}

.form {
  position: relative;
  z-index: 10;
  margin-bottom: auto;
}

.user_items{
  position:absolute;
  float: right;
  margin-left: 225px;
  margin-top: -39px;
  overflow: auto;
}

.list-control {
  display: inline;
  position: relative;
  margin-top: 10px;
}

#searchItem {
  display: block;
  float: left;
  width: 40px;
  height: 42px;
  margin: -1px -2px -2px;
}

#shopping-list {
  position: absolute;
  display: block;
}
#shopping-list.item {
  margin-bottom: 2px;
}

#automated {
  height: 20px;
  width: 20px;
}
