<html>
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <body>
    <div class="container">
      <div class="image" [ngStyle]="{'background-image':'url(' + photo + ')'}">
        <div class="container-fluid">
            <div id="info-pane" class="row">
              <div id="about">
                <h4>About</h4>
                <p>
                  Bot Stop is gonna be pretty rad.
                </p>
              </div>
              <div id="questions">
                <h4>Questions</h4>
                <p>
                  Got a question? <a href="hello@botstop.com" style="color:#000"><u>Email us!</u></a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row tagline">
          <!-- <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8"> -->
            <!-- <h1 id="company-name">Bot Stop</h1> -->
          <!-- </div> -->
        </div>
      </div>
  </body>
</html>
