<html>
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <body>
    <div class="container">
      <div class="image" [ngStyle]="{'background-image':'url(' + photo + ')'}">
        <div class="container-fluid">
            <div id="info-pane" class="row">
              <div id="about">
                <h4>About</h4>
                <p>
                  Half &amp; Half is bringing the convenience of automation to the grocery industry.<br />
                </p>
                <div id="howto" class="card">
                  <p>
                    We aim to simplify grocery shopping without eliminating the retail experience.<br />
                    In order to use Half &amp; Half, simply click on the store and start selecting items you'd like to purchase <br />
                    When you're done, finish by clicking place order<br />
                    Schedule a time to pick up the order and provide your email address plus credit information<br />
                    We'll send you an email with your order number<br />
                    When your scheduled time arrives, simply go to the store to pick up your itmes<br />
                    Once there, you can begin selecting items from our selfserve section<br />
                    When you finish up, just go to the checkout, give your order number<br />
                    We'll ring you up and hand you the items you picked out online<br />
                    Since you provided your credit card information earlier, you don't have to worry about having to pay<br />
                  </p>
                </div>
              </div>
              <div id="questions">
                <h4>Questions</h4>
                <p>
                  Got a question? <a href="hello@botstop.com" style="color:#000"><u>Email us!</u></a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row tagline">
          <!-- <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8"> -->
            <!-- <h1 id="company-name">Bot Stop</h1> -->
          <!-- </div> -->
        </div>
      </div>
  </body>
</html>
