<div class="container">
  <h2 class="page-header">Add Item</h2>
  <form (submit)="onItemSubmit()">
    <div class="form-group">
      <label>Category</label>
      <input type="text" [(ngModel)]="category" name="category" class="form-control" />
    </div>
    <div class="form-group">
      <label>Name</label>
      <input type="text" [(ngModel)]="name" name="name" class="form-control" />
    </div>
    <div class="form-group">
      <label>Sales Price</label>
      <input type="number" [(ngModel)]="sales_price" name="sales_price" class="form-control" />
    </div>
    <div class="form-group">
      <label>Item ID</label>
      <input type="text" [(ngModel)]="item_id" name="item_id" class="form-control" />
    </div>
    <div class="form-group">
      <label>Item Type</label>
      <input type="text" [(ngModel)]="item_type" name="item_type" class="form-control" />
    </div>
    <div class="form-group">
      <label>Amount in Stock</label>
      <input type="number" [(ngModel)]="left_in_stock" name="left_in_stock" class="form-control" />
    </div>
    <div class="form-group">
      <label>Automated</label>
      <input type="checkbox" [(ngModel)]="automated" name="automated" class="form-control" />
    </div>
    <input type="submit" class="btn btn-primary" value="Submit" />
  </form>
</div>
<div id="items" class="container">
  <ul *ngFor="let i of items">
    <span>{{i.name}} |  {{i.sales_price}} | {{i.item_id}} | {{i.item_type}}</span>
  </ul>
</div>
